
:root{
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-hover: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;

}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* Regular Font */
@font-face {
    font-family: 'Cursor Gothic';
    src: url('./fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
}

/* Bold Font */
@font-face {
    font-family: 'Cursor Gothic';
    src: url('./fonts/CursorGothic_Bold-s.p.95169710.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
}

/* Italic Font */
@font-face {
    font-family: 'Cursor Gothic';
    src: url('./fonts/CursorGothic_Italic-s.p.00bb2606.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
body{
    background-color: var(--color-theme-bg);
    font-family:'Cursor Gothic', sans-serif ;
    font-weight: 400;
    color: var(--color-theme-fg);
}

header{
    position: fixed;
    background-color: var(--color-theme-bg);
    width: 100%;
    top:0;
    left: 0;

}
.navbar{
    width: 85%;
    margin: 2px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

.nav_list ul{
    display: flex;
    gap: 25px;
}
.nav_list ul li{
    list-style: none;
    font-size: 14px;
    line-height: 21px;
}
.nav_list ul li:hover{
    cursor: pointer;
    color: var(--color-theme-fg-hover);
}

.logo svg{
    height: 31px;
    width: 96px;
    color: var(--color-theme-fg);
}
.logo svg:hover{
    cursor: pointer;
}

.nav_btn{
    display: flex;
    justify-self: flex-end;
    gap: 8px;
}
.sign_btn{
    padding-bottom:5.88px;
    padding-left:10.5px;
    padding-right:10.5px;
    padding-top:5.6px;
    color: var(--color-theme-fg);
    background-color: var(--color-theme-bg);
    box-shadow: none;
    border: 1px solid #3F3D38;
    border-radius: 15px;
}
.sign_btn:hover{
    background-color: var(--color-theme-card-01-hex);
    cursor: pointer;
}
.down_btn{
    padding-bottom:5.88px;
    padding-left:10.5px;
    padding-right:10.5px;
    padding-top:5.6px;
    background-color: var(--color-theme-fg);
    color:var(--color-theme-bg) ;
    border-radius: 15px;
    box-shadow: none;
    border:none ;
}
.down_btn:hover{
    background-color: var(--color-theme-fg-hover);
    cursor: pointer;
}
#hero{
    padding: 125px 20px 45px 20px;
    width: 100%;
    margin: 0px auto;
}
.container{
    width: 85%;
    margin: 20px auto;
}
.headind_container h1{
    font-size: 26px;
    font-weight: 400;
    line-height: 32.5px;
}
.cta_btn{
    background-color: var(--color-theme-fg);
    height: 42.875px;
    width: 228.775px;
    border-radius: 25px;
    color: var(--color-theme-bg);
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.cta_btn:hover{
    background-color: var(--color-theme-fg-hover);
    cursor: pointer;
}
.media{
    margin-top: 70px;
    
}
.media img{
    width: 100%;
    border-radius: 5px;
}

#logo_garden{
    
    padding-bottom:33.6px;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
}
.header_2{
    display: flex;
    justify-content: center;
}
.header_2 h2{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 22px;
}
.logo_container{
    width: 85%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(8,150px);
    grid-template-rows: 100px;
    gap: 10px;
}
.child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1913;
    border: 0 solid;
    border-radius: 5px;
}
.child img{
    width: 100px;
    height: 50px;
}
#Feature_section{
    width: 100%;
    margin: 0 auto;
    padding-bottom:20.2px;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
}

.Feature_card{
    width: 85%;
    margin:80px auto ;
    background-color: var(--color-theme-card-01-hex);
    border-radius: 5px;
    display: grid;
    grid-template-columns:415px 840px;
    grid-template-rows: 685px;
}
.Feature_card:hover{
    cursor: pointer;
    background-color: var(--color-theme-card-02-hex);
}
.left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    
}
.left_side h3{
    color: #EDECEC;
    font-size: 22px;
    font-weight: 400;
}
.left_side p{
    color: #999896;
    font-size: 22px;
    font-weight: 400;
}
.btn_1{
    margin-top: 20px;
}
.btn_1 p{
    color: #F54E00;
} 
.btn_1 p:hover{
    cursor: pointer;
    color: #a6471e;
}

.right_side{
    width: 810px;
    height: 650px;
    margin: 20px auto;
}
.right_side img{
    width: 100%;
    height: 100%;
    
}

.Feature_card_2{
    width: 85%;
    margin:10px auto ;
    background-color: var(--color-theme-card-01-hex);
    border-radius: 5px;
    display: grid;
    grid-template-columns:840px 415px;
    grid-template-rows: 685px;
}
.Feature_card_2:hover{
    cursor: pointer;
    background-color: var(--color-theme-card-02-hex);
}
#feature_cards_section{
    width: 100%;
    margin: 0 auto;
    /* padding-bottom:40px;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px; */
    padding:40px auto;
}
.header_3{
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
}
.header_3 h2{
    font-size: 36px;
    font-weight: 400;
    color: var(--color-theme-fg);
}
.feature_card_info{
    display: grid;
    grid-template-columns: 426px 426px 426px;
    grid-template-rows: 278.188px 278.188px;
    row-gap: 8px;
    column-gap: 8px;
}
.grid_child{
    background-color: var(--color-theme-card-01-hex);
    border-radius: 5px;
}
.Figure{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}
.card_footer{
    margin-top: 110px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.person_img img{
    width: 45px;
    height: 45px;
    border-radius: 4px;
}
.figer_cap p{
    color: #999896;
}
.card_footer_2{
    margin-top: 90px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card_footer_3{
    margin-top: 70px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#testimonials
{
    width: 100%;
    margin: 0 auto;
    padding-bottom:67.2px;
    padding-left:9px;
    padding-right:9px;
    padding-top:67.2px;
}
.header_4 h2{
    font-size: 26px;
    font-weight: 400;
}
.header_4{
    margin-top: 60px;
    margin-bottom: 22px;
}
.testimonials_grid{
display: grid;
grid-template-columns: 426.663px 426.663px 426.663px;
height: 553.487px;
column-gap: 10px;
}
.test_grid_child{
    background-color: var(--color-theme-card-01-hex);
    border-radius: 5px;
    border: 0 solid;
    display: flex;
    flex-direction: column;
    
}
.test_grid_child:hover{
    background-color: var(--color-theme-card-02-hex);
    cursor: pointer;
}
.card_content{
    margin-left: 20px;
    margin-top: 20px;
}
.card_content h3{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-theme-fg);
    margin-bottom: 6px;
}
.card_content span{
    font-size: 16px;
    font-weight: 400;
    color:#999896 ;
}
.card_image_1{
    height: 409.163px;
    width: 391.663px;
    margin: 20px auto;
}
.card_image_1 img{
    width: 100%;
    height: 100%;
}
