
:root{
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-hover: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;

}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* Regular Font */
@font-face {
    font-family: 'Cursor Gothic';
    src: url('./fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
}

/* Bold Font */
@font-face {
    font-family: 'Cursor Gothic';
    src: url('./fonts/CursorGothic_Bold-s.p.95169710.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
}

/* Italic Font */
@font-face {
    font-family: 'Cursor Gothic';
    src: url('./fonts/CursorGothic_Italic-s.p.00bb2606.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
body{
    background-color: var(--color-theme-bg);
    font-family:'Cursor Gothic', sans-serif ;
    font-weight: 400;
    color: var(--color-theme-fg);
}

header{
    position: fixed;
    background-color: var(--color-theme-bg);
    width: 100%;
    top:0;
    left: 0;

}
.navbar{
    width: 85%;
    margin: 2px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

.nav_list ul{
    display: flex;
    gap: 25px;
}
.nav_list ul li{
    list-style: none;
    font-size: 14px;
    line-height: 21px;
}
.nav_list ul li:hover{
    cursor: pointer;
    color: var(--color-theme-fg-hover);
}

.logo svg{
    height: 31px;
    width: 96px;
    color: var(--color-theme-fg);
}
.logo svg:hover{
    cursor: pointer;
}

.nav_btn{
    display: flex;
    justify-self: flex-end;
    gap: 8px;
}
.sign_btn{
    padding-bottom:5.88px;
    padding-left:10.5px;
    padding-right:10.5px;
    padding-top:5.6px;
    color: var(--color-theme-fg);
    background-color: var(--color-theme-bg);
    box-shadow: none;
    border: 1px solid #3F3D38;
    border-radius: 15px;
}
.sign_btn:hover{
    background-color: var(--color-theme-card-01-hex);
    cursor: pointer;
}
.down_btn{
    padding-bottom:5.88px;
    padding-left:10.5px;
    padding-right:10.5px;
    padding-top:5.6px;
    background-color: var(--color-theme-fg);
    color:var(--color-theme-bg) ;
    border-radius: 15px;
    box-shadow: none;
    border:none ;
}
.down_btn:hover{
    background-color: var(--color-theme-fg-hover);
    cursor: pointer;
}
#hero{
    padding: 125px 20px 68px 20px;
    width: 100%;
    margin: 0px auto;
}
.container{
    width: 85%;
    margin: 20px auto;
}
.headind_container h1{
    font-size: 26px;
    font-weight: 400;
    line-height: 32.5px;
}
.cta_btn{
    background-color: var(--color-theme-fg);
    height: 42.875px;
    width: 228.775px;
    border-radius: 25px;
    color: var(--color-theme-bg);
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.cta_btn:hover{
    background-color: var(--color-theme-fg-hover);
    cursor: pointer;
}
.media{
    margin-top: 70px;
    
}
.media img{
    width: 100%;
    border-radius: 5px;
}



